.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
pylint.txt
toy.py
.cache/
cover/
build/
boogie.egg-info/
*.pyc
*.swp
*.egg
env/
.idea/
.workon
.eggs
t.py

t2.py
dist

/.mypy_cache/

.pytest_cache/
ETL.py
ModelABuilder.py
ModelBBuilder.py
DataIngestion.py
input/
DataAnalytics.py
test-1-stats-analysis.png
*.egg-info*
